<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:2rem;padding-bottom:3rem">
	<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
	<!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0.5rem","bottom":"1.5rem"}}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group" style="margin-top:0.5rem;margin-bottom:1.5rem">
		<!-- wp:post-author-name {"isLink":true,"fontSize":"small"} /-->
		<!-- wp:post-date {"fontSize":"small"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"align":"wide"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /-->

	<!-- wp:comments -->
	<div class="wp-block-comments">
		<!-- wp:comments-title /-->
		<!-- wp:comment-template -->
			<!-- wp:comment-author-name /-->
			<!-- wp:comment-date /-->
			<!-- wp:comment-content /-->
		<!-- /wp:comment-template -->
		<!-- wp:comments-pagination /-->
		<!-- wp:post-comments-form /-->
	</div>
	<!-- /wp:comments -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
